.uppercase{
	text-transform:uppercase;
}
.dashboard-head{
	border-bottom:1px solid #cccccc;
	padding-bottom:20px;
}
.shipped-address{
	padding-right:45px;
}
.my-address-book-inner h5{
	max-width:100%;
}
.tab-content-head,.categori-head{
	font-weight:500;
}
.nav > li > a:hover, .nav > li > a:focus{
	background: none;
	color: $orange;
}