#banner{
	position: relative;
	margin-top: 15px;
	.owl-dots{
		text-align:center;
		margin-top: 0;
		position: absolute;
		bottom: 7px;
		right: 10px;
		.owl-dot{
			display: inline-block;
			margin: 0 5px;
			span{
				width: 9px;
				height: 7px;
				display: inline-block;
				background-color: #8c8c8c;
				display: inline-block;
				box-sizing: content-box;
				vertical-align: middle;
			}
			&.active span{
					background-color: $orange;
				}
		}
	}
}

.tittle-wrap{
	color: #000;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 0;
	margin-top: 43px;
	font-weight: 400;

}
.small-tittle{
	color: #757575;
	text-align: center;
	margin: 0;
}

.trending-wrap{
	margin-top: 18px;
	.trending-women-wrap{
	margin-top: 16px;
	.women-clothing-img{
		margin-top: 27px;
		img{
			width: 100%;
		}
	}
}
}

.newsletter-wrap {
	.tittle-wrap {
		font-family: $font-family-3;
		letter-spacing: 0.050em;
		line-height: 26px;
	}
	.small-tittle{
		font-family: $font-family-3;
		letter-spacing: 0.025em;
		font-size: 0.9285em;
	}
.newsletter-box{
		max-width: 571px;
		width: 100%;
		margin: 40px auto 10px;
		border: 1px solid #eeeeee;
		padding: 10px 8px;
		.form-group{
			width: 75%;
		}
		.form-control{
			border: none;
			border-radius: 0;
			width: 100%;
			font-style: 0.9285em;
			color: #999999;
			box-shadow: none;
			font-family: $font-family-2 ;

		}
		.btn-default{
			font-size: 0.9285em;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 0.025em;
		}
	}
}

