.tab-panel{
    .nav-tabs {
        border-bottom:none;
        li
            {
                float:none;
                position:relative;
                &:before{
                    position:absolute;
                    left:0;
                    top:10px;
                    content:"\f105";
                    font-family:'FontAwesome'
                }
            }
        }
        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
            border-color:transparent;
            color:$orange;
            background:none;
        }
        .nav-tabs > li > a:hover{
            color:$orange;
            background:none;
            box-shadow:none;
            border-color:transparent;
        }
    }

    .tab-content-head{
        color:$theme-color;
        text-transform:uppercase;
        font-weight:300;
        border-bottom:1px solid #ccc;
        padding-bottom:15px;
    }


    .tab-content-text{
        .contactwrap-inner{
            max-width:538px;
            padding-top:20px;
            margin:0; 
            text-align:left;
            .form-control{
                background:#fff;
                border:1px solid #eee;
                color:#3f3f3f;
                font-size:1em;
            }
            .form-control::-moz-placeholder{color:#3f3f3f;opacity:1}
            .form-control:-ms-input-placeholder{color:#3f3f3f}
            .form-control::-webkit-input-placeholder{color:#3f3f3f}
            .btn-default{
                float:right;
            }
        }
        .pass-label{
            font-size:1em;
            color:#333333;
            font-weight:300;
        }
    }