.tab-panel{
    .nav-tabs {
        border-bottom:none;
        li
            {
                float:none;
                position:relative;
                &:before{
                    position:absolute;
                    left:0;
                    top:10px;
                    content:"\f105";
                    font-family:'FontAwesome'
                }
            }
        }
        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
            border-color:transparent;
            color:$orange;
            background:none;
        }
        .nav-tabs > li > a:hover{
            color:$orange;
            background:none;
            box-shadow:none;
            border-color:transparent;
        }
    }

    .tab-content-head{
        color:$theme-color;
        text-transform:uppercase;
        font-weight:300;
        border-bottom:1px solid #ccc;
        padding-bottom:15px;
    }


    .tab-content-text{
        .contactwrap-inner{
            max-width:538px;
            padding-top:20px;
            margin:0; 
            text-align:left;
            .form-control{
                background:#fff;
                border:1px solid #eee;
                color:#3f3f3f;
                font-size:1em;
            }
            .form-control::-moz-placeholder{color:#3f3f3f;opacity:1}
            .form-control:-ms-input-placeholder{color:#3f3f3f}
            .form-control::-webkit-input-placeholder{color:#3f3f3f}
            .btn-default{
                float:right;
            }
        }
        .pass-label{
            font-size:1em;
            color:#333333;
            font-weight:300;
            span{
                font-size:0.714em;
            }
        }
    }



    .myprofile-tab-content{
        .contactwrap-inner{
            max-width:100%;
        }
        .contactwrap-inner{
         .form-control:focus{
            background:#f6f6f6;
            border-color:#f6f6f6;
         }
        }
        .date-of-birth{
            label{
                width:100%;
            }
            select{
                width:32.66%;
                height:50px;
                border-color:#eee;
                color:#3f3f3f;
                font-size:1em;
                font-family:$font-family-primary;
                &:focus{
                    border-color:#eee;
                    outline:none;
                }
            }
        }
    }

.custom-radio-button {
    div{
        display:inline-block;
        margin-right:50px;
        margin-top:10px;
        margin-bottom:15px;
    }
    input[type="radio"] {
    display:none;
    }
    input[type="radio"] + label {
        color: #333333;
        font-size:1em;
        font-family:$font-family-primary;
        font-weight:300;
    }
    input[type="radio"] + label span {
        display:inline-block;
        width:12px;
        height:12px;
        margin:-1px 4px 0 0;
        vertical-align:middle;
        cursor:pointer;
        -moz-border-radius:  50%;
        border-radius:  50%;
        border:1px solid #b5b5b5;
    }

    input[type="radio"] + label span {
         background-color:#fff;
    }

    input[type="radio"]:checked + label span{
         background-color:$orange;
         border:1px solid $orange;
    }

    input[type="radio"] + label span,
    input[type="radio"]:checked + label span {
      -webkit-transition:background-color 0.4s linear;
      -o-transition:background-color 0.4s linear;
      -moz-transition:background-color 0.4s linear;
      transition:background-color 0.4s linear;
    }
}

.my-address-book{
    .currently-no-add{
        color:#3c3c3c;
        font-size:0.857em;
        text-transform:uppercase;
        font-weight:300;
        margin-top:30px;
        margin-bottom:30px;
    }
    .btn-default{
      font-size: 1em;
      font-weight: 700;
      text-transform: uppercase;
      border: none;
       &:hover, &:focus{
          background: $orange;
          outline:none;
       }
    }
}

.my-address-book-inner{
    h5{
        color:$theme-color;
        text-transform:uppercase;
        margin-top:30px;
        margin-bottom:20px;
        padding-bottom:10px;
        border-bottom:1px solid #cccccc;
        max-width:220px;
    }
}
.shipped-address{
    position:relative;
    padding-bottom:40px;
    margin-bottom:45px;
    h6{
        font-size:1em;
        font-weight:400;
        color:$theme-color;
        text-transform:uppercase;
        margin-top:0;
        margin-bottom:5px;
    }
    ul{
        padding-left:0;
        li{
            list-style:none;
            margin-bottom:0;
        }
        p{
            color:$theme-color;
            margin-top:5px;
            margin-bottom:5px;
        }
    }
    .edit-address{
        position:absolute;
        bottom:0;
        li{
            display:inline-block;
            padding-right:12px;
            margin-right:12px;
            margin-bottom:0;
            border-right:1px solid #838282;
            &:last-child{
                border-right:none;
                padding:0;
                margin:0;
            }
        }
        a{
            color:#838282;
            text-transform:uppercase;
            display:block;
            line-height:1;
            i{
                margin-right:5px;
            }
            &:hover,&:focus{
                color:$orange;
                text-decoration:none;
            }
        }
    }

}
.add-biling-add{
        text-transform:uppercase;
        font-size:1em;
        color:$theme-color;
        margin-left:30px;
        font-weight:700;
        &:hover,&:focus{
            color:$orange;
            text-decoration:none;
            outline:none;
        }

    }
.shipped-address-border{
    padding-bottom:40px;
    border-bottom:1px solid #cccccc;
}
.no-border{
    border:none;
}
.popup-form{
    text-align:center;
    max-width:100%;
    .btn-default{
        margin-left:20px;
        min-width:135px;
        min-height:50px;
        background:#fff;
        color:#333333;
        border:1px solid #333333;
         &:hover,&:focus{
            background:#333333; 
            text-decoration:none;
            color:#fff;
        }
    }
}
.modal-header {
    border:none;
    padding:40px;
    padding-bottom:0;
    .close{
        width:40px;
        height:40px;
        background:#333333;
        opacity:1;
        color:#fff;  
        position:absolute;
        top:15px;
        right:15px;
        &:hover,&:focus{
            background:$orange;
            text-decoration:none;
        }
    }
}
.modal-footer{
    border:none;
    text-align:left;
}
.modal-body.tab-content-text{
    padding:40px;
    padding-top:0;
}
.modal-content{
    border-radius:0;
}

.add-new-mobile{
    color:#747474;
    font-size:0.857em;
    border-bottom:1px solid #747474;
    float:right;
    text-transform:uppercase;
    margin-top:10px;
    font-weight:500;
    &:hover,&:focus{
        outline:none;
        text-decoration:none;
        color:$orange;
        border-color:$orange;
    }
}


.popup-form [type="checkbox"]:not(:checked),
.popup-form [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.popup-form [type="checkbox"]:not(:checked) + label,
.popup-form [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
}

/* checkbox aspect */
.popup-form [type="checkbox"]:not(:checked) + label:before,
.popup-form [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 12px; height: 13px;
  border: 1px solid #666666;
  background: #fff;
}
/* checked mark aspect */
.popup-form [type="checkbox"]:not(:checked) + label:after,
.popup-form [type="checkbox"]:checked + label:after {
  content: '\f00c';
  position: absolute;
  top: 0px; left: 2px;
  font-size: 1em;
  line-height: 0.8;
  color: #666666;
  transition: all .2s;
  font-family:'FontAwesome';
}
/* checked mark aspect changes */
.popup-form [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0); 
}
.popup-form [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
.checkbox-label{
    font-size:0.928em;
    color:#666666;
    text-transform:uppercase;
    line-height:1;
    font-weight:500;
}

.make-as-default{
    color:#747474;
    font-size:0.857em;
    float:right;
    text-transform:uppercase;
    margin-top:10px;
    font-weight:500;
    &:hover,&:focus{
        outline:none;
        text-decoration:none;
        color:$orange;
        border-color:$orange;
    }
}

.border-bottom{
    border-bottom:1px solid #cccccc;
    padding-bottom:40px;
    margin-bottom:30px;
}

.new-card{
    a.btn.btn-default{
        margin-bottom:35px;
    }
    .add-biling-add{
        margin-top:30px;
        float:right;
        margin-right:40px;
    }
}

.new-card-popup{
    padding-bottom:10px;
}