.popup-form{
    text-align:center;
    max-width:100%;
    .btn-default{
        margin-left:20px;
        min-width:135px;
        min-height:50px;
        background:#fff;
        color:#333333;
        border:1px solid #333333;
         &:hover,&:focus{
            background:#333333; 
            text-decoration:none;
            color:#fff;
        }
    }
}
.modal-header {
    border:none;
    padding:40px;
    padding-bottom:0;
    .close{
        width:40px;
        height:40px;
        background:#333333;
        opacity:1;
        color:#fff;  
        position:absolute;
        top:15px;
        right:15px;
        &:hover,&:focus{
            background:$orange;
            text-decoration:none;
        }
    }
}
.modal-footer{
    border:none;
    text-align:left;
}
.modal-body.tab-content-text{
    padding:40px;
    padding-top:0;
}
.modal-content{
    border-radius:0;
}

.add-new-mobile{
    color:#747474;
    font-size:0.857em;
    border-bottom:1px solid #747474;
    float:right;
    text-transform:uppercase;
    margin-top:10px;
    font-weight:500;
    &:hover,&:focus{
        outline:none;
        text-decoration:none;
        color:$orange;
        border-color:$orange;
    }
}


.popup-form [type="checkbox"]:not(:checked),
.popup-form [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.popup-form [type="checkbox"]:not(:checked) + label,
.popup-form [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
}

/* checkbox aspect */
.popup-form [type="checkbox"]:not(:checked) + label:before,
.popup-form [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 12px; height: 13px;
  border: 1px solid $text-color;
  background: #fff;
}
/* checked mark aspect */
.popup-form [type="checkbox"]:not(:checked) + label:after,
.popup-form [type="checkbox"]:checked + label:after {
  content: '\f00c';
  position: absolute;
  top: 0px; left: 2px;
  font-size: 1em;
  line-height: 0.8;
  color: $text-color;
  transition: all .2s;
  font-family:'FontAwesome';
}
/* checked mark aspect changes */
.popup-form [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0); 
}
.popup-form [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
.checkbox-label{
    font-size:0.928em;
    color:$text-color;
    text-transform:uppercase;
    line-height:1;
    font-weight:500;
}

.make-as-default{
    color:#747474;
    font-size:0.857em;
    float:right;
    text-transform:uppercase;
    margin-top:10px;
    font-weight:500;
    &:hover,&:focus{
        outline:none;
        text-decoration:none;
        color:$orange;
        border-color:$orange;
    }
}

.border-bottom{
    border-bottom:1px solid #cccccc;
    padding-bottom:40px;
    margin-bottom:30px;
}

.new-card{
    a.btn.btn-default{
        margin-bottom:35px;
    }
    .add-biling-add{
        margin-top:30px;
        float:right;
        margin-right:40px;
    }
}

.new-card-popup{
    padding-bottom:10px;
}


.popup-quickview{
  background:#fff;
  position:relative;
  padding-top:30px;
  padding-bottom:30px;
  max-width:1090px;
}
.linethrough{
  text-decoration:line-through;
}


.pop-product-details{
  .quntity{
    .input-number-wrap{
      .quantity{
          width:62px;
          height:47px;
      }
    }
  }
}   

.size-chart{
  text-decoration:none !important;
}

#tour-expand2{
  position:relative;
  .mfp-close{
    width: 40px;
    height: 40px;
    background: #333333;
    opacity: 1;
    color: #fff;
    position: absolute;
    top: 15px;
    right: 15px;
    line-height:1;
    &:hover,&:focus{
      background:#000;
    }
  }
}