.thank-you-page-inner{
	padding-top:35px;
	padding-bottom:35px;
	h2{
		color:$theme-color;
		font-size:1.571em;
		margin-bottom:30px;
		text-transform:uppercase;
	}
	
}
.thankyou-left{
	padding-right:90px;
	p{
		color:$theme-color;
		font-size:0.857em;
		text-transform:uppercase;
	}
}
.add-biling-add.cont-shopping{
	float:right;
	margin-top:75px;
}

.thankyou-right{
	h5{
		font-size:1em;
		color:#252525;
		margin-top:0;
		font-weight:500;
		margin-bottom:10px;
		max-width:100%;
	}
	.shipped-address{
		margin-bottom:0;
		padding:0;
		ul{
			p{
				margin:0;
			}
		}
	}
}

.news-letter-main{
	max-width:825px;
	margin:0 auto;
	background:#e9e9e9;
	padding:10px;
}
.newsletter-image{
	background-repeat:no-repeat;
	background-size:cover;

}

.right{
	float:right;  
}
.left{
	float:left;
}
.news-letter-main-inner{
	border:1px solid #cccccc;
	text-align:center;
}
.news-letter-text-inner{
	padding:35px 28px 20px 28px ;
	h2{
		font-size:2.142em;
		font-weight:700;
		color:#000;
		font-family:$font-family-3 ;
		margin-bottom:0;
	}
	p{
		margin-top:30px;
		color:#666666;
		margin-bottom:30px;
	}
	.btn.btn-default{
		display:block;
		margin:25px auto;
		&:hover,&:focus{
			outline:none;
			text-decoration:none;
			background:#fff;
			color:#000;
		}
	}
	.form-control{
		height:40px;
		box-shadow:none;
		border:1px solid #d4d4d4; 
		text-align:center;
		font-size:0.928em;
	}
	a{
		color:#000;
		font-size:0.928em;
		&:hover,&:focus{
			outline:none;
			text-decoration:none;
			color:$orange;
		}
	}
}

.newsletter-image{
	a{
		width:40px;
		height:40px;
		float:right;
		background:#999999;
		color:#fff;
		line-height:40px;
		text-align:center;
		display:block;
		&:hover,&:focus{
			background:#000;
			outline:none;
			text-decoration:none;
		}
	}
}