.terms-and-condition-inner{
	padding-top:35px;
	padding-bottom:35px;
	h2{
		color:$theme-color;
		font-size:1.571em;
		margin-bottom:30px;
		text-transform:uppercase;
	}
	p{
		color:$theme-color;
		font-size:0.857em;
	}
}