$largexx : 1170px;
$large : 1024px;
$medium : 992px;
$xs : 767px;
$xxs : 640px;
$xxxs : 480px;

@media only screen and (max-width:1200px){
	.myprofile-tab-content .date-of-birth select{width:32%;}
}

@media only screen and (max-width:$medium ){
	.shipped-address{margin-top:20px;margin-bottom:0;}
	#tabbed-nav ul li a{font-size: 1em;}
}
@media only screen and (max-width:$xs ){
#tabbed-nav ul{
	padding-left: 0;
}
}

@media only screen and (max-width:$xxs ){
	.z-tabs.silver > ul > li > a{
		 background-color: #fff;
   
	}
	.z-title{color:#000;}
	
}