/* Link Colors */
a{color: $theme-color;}


/* Text Selection */
::-webkit-selection {
	color: #ffffff;
	background-color: $theme-color;
	text-shadow: none;
}
::-moz-selection {
	color: #ffffff;
	background-color: $theme-color;
	text-shadow: none;
}
:-moz-selection {
	color: #ffffff;
	background-color: $theme-color;
	text-shadow: none;
}
::selection {
	color: #ffffff;
	background-color: $theme-color;
	text-shadow: none;
}

/* Placeholder Reseting */
::-webkit-input-placeholder {
	-khtml-opacity: 1;
	  -moz-opacity: 1;
		-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
		   opacity: 1;
}
:-moz-placeholder {
	-khtml-opacity: 1;
	  -moz-opacity: 1;
		-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
		   opacity: 1;
}
::-moz-placeholder {
	-khtml-opacity: 1;
	  -moz-opacity: 1;
		-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
		   opacity: 1;
}
:-ms-input-placeholder {  
	-khtml-opacity: 1;
	  -moz-opacity: 1;
		-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
		   opacity: 1;
}

*.block_element {
	display: block;
}
*.inline_element {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: top;
}
*.table_element {
	display: table;
	width: 100%;
	height: 100%;
}
*.table_cell_element {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
*.no_padd {
	padding: 0;
}
*.no_mar {
	margin: 0;
}

.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}