$base-font-size:14px !default;



//fonts
$font-family-primary : "Montserrat", sans-serif;
$font-family-2 :"Open Sans", sans-serif;
$font-family-3 : "Oswald", sans-serif; 

//colors
$theme-color:#000000;
$theme-color-2: #d46a67;
$orange : #ff9400;

$text-color:#666666;
$dark-grey-text : #838282;
$light-grey: #e5e5e5;



//Typography
$base-font-weight:400;
$base-line-height: 1.625;

//Btn Variables
$btn-font-size:1em;
$btn-padding-v: 13px;
$btn-padding-x: 21px;
